@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

nav{
    display: flex;
    height: 80px
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo{
    width: 160px;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
}

.nav__link{
    text-decoration: none;
    margin-left: 16px;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link--primary{
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.nav__link--primary:hover{
    text-decoration: none;
}